body{
	background-color: #33C4FF;
	color: #55FF33;
}

li{
	list-style-type: none;
}

 h1{ 

	display: block;
	text-align: center;
	margin: 0; height: 100px;
	padding-top: 40px;
 }

 header{
 	background-color: #33CEFF;
 }
 nav ul{
 	display: flex;
 	justify-content: space-around;
 }
 nav{
 	background-color: #BBC0C2;
 	height: 50px;
 	
   }
 nav ul li{
   	padding-top: 10px;
   }

 a{
   	text-decoration: none;
   	color: #1F2AB0;
   	font-family: arial, serif;
   }
#corp{
	color: #060606;
	text-align-last: 
    }

