li{
	list-style: none;
}
.pasbeau{
	color: red;
	background-color: white;
}
.formu{
	
	width:180px;
	padding: 0 10px;
	font-size: 12px;
	font-weight: bold;
	line-height: 22px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	border-radius: 2px;

}
h1{
	text-align: center;
	color: red;
	margin: 0%;
}	
.titre{
	text-align: right;
	width: 54.5%
}

h2{
	text-align: center;
	margin: 0%;
	color: red;
}
.choisir{
	;
}
button{
	color: white;
	background-color: black;
}
